doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title A Brief Introduction To This Game
    script(src='ui.coffee')
    style
      :stylus
        @font-face
          font-family Bitter
          src url(fonts/Bitter-Regular.woff)
        @font-face
          font-family Bitter
          font-style italic
          src url(fonts/Bitter-Italic.woff)
        @font-face
          font-family Quicksand
          src url(fonts/Quicksand-Regular.woff)
        body
          font-family Bitter, serif
          line-height 1.6
          margin 1em
          background-color #def
        h1, h2
          font-family Quicksand, sans-serif
          font-weight normal
        a[href]
          text-decoration inherit
          color inherit
        .pane
          max-width 40em
        p, .answers
          margin-top 1em
          margin-bottom 0
        .answer
          padding-left 1.15em
          text-indent -1.15em
        .a-prefix
          display inline-block
          min-width 1.15em
          padding-left 0
          text-indent 0
        .cursor
          display inline-block
          width 0.7em
          height 1.2em
          animation blink 2s linear infinite
        @keyframes blink
          25%, 50%
            background-color black

  body
    #home-pane.pane.enter-key
      :marked
        # A Brief Introduction To This Game

        by REDACTED  
        &copy; 2016

        [Press Enter or click here to begin.](#!)

      .cursor

    #loading(style='display: none;')
      :marked
        Loading....

    #404-pane.pane.enter-key(style='display: none;')
      :marked
        ## Page Not Found

        [Press Enter or click here to start over.](#)

      .cursor

    #questions.pane(style='display: none;')
      #question-container
      #end
        :marked
          [Press Enter or click here to start over.](#)
        .cursor
