doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title A Brief Introduction To This Game
    script(src='ui.coffee')
    style
      :stylus
        @font-face
          font-family Cutive
          src url(fonts/Cutive-Regular.woff)
        @font-face
          font-family Quicksand
          src url(fonts/Quicksand-Regular.woff)
        body
          font-family Cutive, serif
          line-height 1.6
          margin 1em
          background-color #def
        h1, h2
          font-family Quicksand, sans-serif
          font-weight normal
        a[href]
          text-decoration inherit
          color inherit
        .answer
          display block
        .cursor
          width 0.7em
          height 1.2em
          animation blink 2s linear infinite
        @keyframes blink
          60%
            background-color black

  body
    #home.pane
      :marked
        # A Brief Introduction To This Game

        [START](#!)

    #loading(style='display: none;')
      :marked
        Loading!

    #404.pane(style='display: none;')
      :marked
        ## 404

        Page not found.

        [start over](#)

    #questions.pane(style='display: none;')
      #question-container
