doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title A Brief Introduction To This Game
    script(src='ui.coffee')
    style
      :stylus
        body
          line-height 1.5

  body
    :marked
      # A Brief Introduction To This Game

      Hello, World
